.layout {
  .layout__header {
    padding: 0;
    background-color: #fff;
    z-index: 9;
    border-bottom: solid 1px #ddd;
  }
  .site-layout {
    height: calc(100vh - 65px);
    overflow: hidden;
  }
  &__side-bg{
    background-color: transparent !important;
    .layout-page-sider-menu{
      background-color: transparent !important;
    }
  }
}
