.layout {
  .ant-layout{
    background-color: #f7f7f8;
  }
  .layout__header {
    padding: 0;
    background-color: #fff;
    z-index: 9;
    border-bottom: solid 1px #ddd;
    width: 100%;
    position: fixed;
  }
  .site-layout {
    overflow: hidden;
    margin-top: 64px;
  }
  &__side-bg{
    background-color: transparent !important;
    .layout-page-sider-menu{
      background-color: transparent !important;
    }
  }
}
