.box-chat {
  
  // padding: 10px;
  &__top {
    box-shadow: 1px 1px 5px rgba(170, 170, 170, 0.4);
    height: 48px;
    display: flex;
    align-items: center; 
    &--icon-back{
      margin-left: auto;
      margin-right: 10px;
      font-size: 25px;
      transition: .3s;
      cursor: pointer;
      >svg{
        color: $primary-color;
      }
      &:hover{
        >svg{
          opacity: 0.7;
        }
      }
    }
    &--avatar{
      margin-left: 10px;
    }
    &--info{
      margin-left: 10px;
      display: block;
      height: 48px;
      font-size: $font-size + 0.5;
      padding-top: 4px;
      line-height: 38px;
      cursor: pointer;
      >div:last-child{
        margin-top: -2px;
        font-size: $font-size - 1.7;
        color: $black-color-text;
      }
      &.active{
        line-height: unset;
      }
    }
    .normal{
      .ant-badge-dot{
        display: none;
      }
    }
    .active{
      .ant-badge-dot{
        display: block;
        top: 4px;
        right: 5px;
        width: 7px;
        height: 7px;
        background: $green-color;
      }
    }
  }
  &__message{
    height: 35vh;
    width: 100%;
    padding: 6px;
    overflow: auto;
    .ant-comment{
      width: 75%;
      &.next-mess{
        .ant-comment-inner{
          padding: 2px 0;
        }
      }
      &.mess-wait{
        .ant-comment-content{
          background-color: rgba(55, 236, 128, 0.58);
        }
      }
    }
    .ant-comment-inner{
      padding: 8px 0;
    }
    .ant-comment-avatar{
      width: 32px;
      margin-right: 5px;
    }
    .ant-comment-content{
      background-color: $bg-site-layout;
      border-radius: 8px;
      .ant-comment-content-detail{
        padding: 5px 12px;
      }
    }
    .ant-comment-inner, .ant-comment-content, .ant-comment-content-detail, .ant-comment-content-detail > p{
      width: max-content;
    }
    .my-mess{
      margin-left: auto;
      .ant-comment-inner{
        margin-left: auto;
      }
      .ant-comment-content{
        background-color: #ffa8016e;
      }
    }
    &::-webkit-scrollbar {
      width: 2px;
    }

    .ant-spin-container{
      width: 100%;
      margin-left: auto;
      width: 100%;
      .my-mess, .my-mess .ant-comment-inner, .my-mess .ant-comment-content-detail{
        width: 100%;
      }
      
    }
    .spin-load, .ant-spin-nested-loading{
      margin-left: auto;
      width: 75%;
    }
  }
  &__bottom{
    display: flex;
    margin-top: 4px;
    height: 50px;
    width: 100%;
    bottom: 0;
    background-color: white;
    position: absolute;
    >span.ant-avatar{
      width: 40px;
      height: 40px;
      margin: 0 5px;
      position: absolute;
      bottom: 5px;
    }
    .input{
      width: calc(100% - 87px);
      margin-left: 50px;
      position: relative;
      .ant-input{
        position: absolute;
        bottom: -5px;
        padding-right: 15px;
        padding-left: 15px;
      }
    }
    &--icon-send{
      position: absolute;
      bottom: 11px;
      right: 5px;
      font-size: 28px;
      >svg{
        color: $primary-color;
      }
    }
  }
}

.box-chat{
  .spin-load{
    width: max-content;
    .my-mess{
      width: max-content;
    }
  }
}

