.form-new {
  &__wrapper {
    height: 115px;
    background-color: white;
    width: 100%;
    border-radius: 8px;
    box-shadow: $box-shadow-card;
  }

  &__action {
    margin: 0 15px;
    display: flex;
    align-items: center;
    height: 50px;

    >div {
      flex-grow: 3;
      font-weight: 600;
      display: inline-flex;
      justify-content: center;
      margin-top: 5px;
      border-radius: 8px;
      transition: .3s;
      cursor: pointer;

      &:hover {
        background-color: $bg-site-layout;
      }

      >span.anticon {
        font-size: $font-title-small * 1.4;
        margin-right: 5px;
        height: max-content;
        margin-top: 7px;
      }

      >span.action-text {
        font-size: $font-title-small;
        line-height: 40px;
      }
    }
  }

  &__input {
    height: 60px;
    margin: 0 15px;
    display: flex;
    align-items: center;
    border-bottom: solid thin $line-color;

    &--field {
      width: 100%;
      margin-left: 10px;
      background-color: $bg-site-layout;
      border-radius: 50px;
      padding: 8px 15px;
      cursor: pointer;
      transition: .3s;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        background-color: $bg-site-light;
      }
    }
  }

  &__avatar {
    width: 40px;
    border-radius: 50%;
  }
}

.form-feed {
  width: 100%;
  background-color: white;
  border-radius: 8px;
  box-shadow: $box-shadow-card;
  margin: 20px 0;
  &.skeleton{
    padding: 15px;
    position: relative;
    .ant-skeleton-element{
      width: 100%;
    }
    .ant-skeleton-input{
      margin-top: 15px;
      height: 400px;
      width: 100%;
    }
    .dot-loading {
      position: absolute;
      left: calc(50% - 20px);
      top: 60%;
    }
  }
  &__top {
    width: 100%;
    padding: 15px;
    height: 75px;
    display: flex;
    align-items: center;

    img {
      width: 45px;
      border-radius: 50%;
    }

    &--info {
      margin-left: 5px;
      line-height: 18px;
    }

    &--name {
      font-size: $font-title-small;
      font-weight: bold;
      >span{
        color: $black-color-text;
        font-size: $font-size;
        font-weight: 300;
        >b{
          color: $black-color;
          font-weight: 600;
        }
      }
    }

    &--time {
      font-size: $font-small_1;
      font-weight: bold;
      color: $black-color-text;
    }

    &--i-security {
      margin-left: 3px;
      >svg {
        color: $black-color-light;
      }
    }

    ;

    &--i-action {
      margin-left: auto;
      margin-top: -25px;
      font-size: $font-title-medium;
      cursor: pointer;
    }
  }

  &__caption {
    padding: 0 15px;
    margin-bottom: 5px;
    word-break: break-word;
  }

  &__tag{
    margin: 10px 0;
  }

  &__content {

    &--img {
      max-height: 700px;
      overflow: hidden;
      .ant-col-12:first-child, .ant-col-8, .ant-col-6{
        border-right: 2px solid white;
      }
      .ant-col-12:last-child{
        border-left: 2px solid white;
      }

      .ant-col-8:last-child, .ant-col-6:last-child{
        border-right: unset;
      }
      .ant-col-8, .ant-col-6, .ant-col-12{
        border-top: 2px solid white;
      }
      .ant-col-12, .ant-col-8, .ant-col-6{
        .lazyload-wrapper, .lazyload-wrapper >div, .lazyload-wrapper >div>div ,img{
          height: 100%;
        }
      }
    }

    img.one-img {
      width: 100%;
    }

    .video-react .video-react-big-play-button{
      left: 50%;
      top: 45%;
      transform: translate(-50%, 0);
      border-color: $primary-color;
      background-color: transparent;
    }
    .video-react{
      &:hover{
        .video-react-big-play-button{
          border-color: $primary-color;
          background-color: rgba(43, 51, 63, 0.7);
        }
      }
      .video-react-volume-level, .video-react-play-progress{
        background: $primary-color;
      }
    }
    .video-react .video-react-slider-horizontal .video-react-volume-level:before, .video-react .video-react-play-progress:before, .video-react .video-react-control:before, .video-react-icon-play-arrow:before, .video-react .video-react-big-play-button:before, .video-react .video-react-play-control:before, .video-react .video-react-bezel .video-react-bezel-icon-play:before{
      color: $primary-color;  
    }
    .video-react .video-react-control-bar{
      background-color: rgba(43, 51, 63, 0.28);
    }
  }

  &__like-share {
    padding: 10px 15px;
    display: flex;
    align-items: center;

    span.anticon-heart {
      color: white;
      padding: 4px;
      font-size: 10px;
      border-radius: 50%;
      background-color: red;
    }

    div.like-info {
      margin-left: 5px;
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $black-color-text;

      &:hover {
        text-decoration: underline;
      }
    }
    label.comment-info {
      margin-left: auto;
      color: $black-color-text;
    }
    div.like-info:hover, label.comment-info:hover{
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__action-post {
    margin: 0px 15px;
    display: flex;
    height: 40px;
    text-align: center;
    align-items: center;
    border-top: solid thin $line-color;
    cursor: pointer;

    &--item {
      width: 50%;
      display: inline-flex;
      padding: 5px 0px;
      justify-content: center;

      &:hover {
        background-color: $bg-site-layout;
      }

      .anticon {
        font-size: 20px;
        margin-right: 5px;
      }

      >span.action-post {
        font-size: $font-size;
        font-weight: 600;
      }
    }
  }

  &__comment {
    border-top: solid thin $line-color;
    margin: 0 15px;
    padding-top: 5px;

    .comment-action{
      margin-left: 3px;
    }

    .ant-comment-inner {
      padding: 5px 0;
    }

    .ant-comment-content-author {
      background-color: $bg-site-layout;
      margin-bottom: 0;
      padding: 5px 0 0 10px;
      border-radius: 8px 8px 0 0;

      .ant-comment-content-author-name a {
        color: $black-color;
        font-weight: 600;
        font-size: $font-small_1;
      }
    }

    .ant-comment-content-detail {
      background-color: $bg-site-layout;
      padding: 0 10px 5px 10px;
      border-radius: 0 0 8px 8px;
    }

    .ant-comment-actions {
      margin-top: 0;
      padding-left: 10px;
    }

    .ant-comment-avatar {
      margin-right: 5px;
    }

  }

  &__bottom {
    height: auto;
    width: 100%;
    display: flex;
    position: relative;
    margin-top: 10px;
    &--img {
      width: 40px;
      height: 40px;
      margin-right: 5px;
      border-radius: 50%
    }

    &--comment.ant-input,
    .ant-input-affix-wrapper {
      border-radius: 25px;
      resize: none;    
      padding: 8px 20px;  
      padding-right: 50px;
      &:focus{
        box-shadow: unset;
      }
    }

    ::-webkit-scrollbar {
      width: 0px;
    }
    
    ::-webkit-scrollbar-thumb {
      background: $primary-color; 
    }

    .input {
      width: 100%;
      position: relative;

      &__icon {
        position: absolute;
        right: 20px;
        font-size: 22px;
        bottom: 10px;
        color: $primary-color-bold;

        &:hover {
          color: $primary-color-light;
        }
      }
    }
  }
  &__img{
    position: relative;
    &.col-3-img{
      max-height: 400px; 
    }
    &.col-4-img{
      max-height: 350px; 
    }
  }
  &__more-img-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #06060694;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: $font-medium;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }
}

@media(max-width: $with-mobile){
.form-feed{
  &__img{
    position: relative;
    &.col-3-img{
      max-height: 250px; 
    }
    &.col-4-img{
      max-height: 250px; 
    }
  }
}
}