.site-layout {
  &__side-bg{
    margin-right: 30px;
    background-color: transparent !important;
    ul.layout-page-sider-menu {
      background-color: transparent;
      box-shadow: unset;
    }
  }
}
