.ant-layout-logo {
  height: 32px;
  background: #333;
  border-radius: 6px;
  margin: 16px;
}
.sider-trigger {
  position: absolute;
  top: 15px;
  right: -25px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  color: #fff;
  background: #404040;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  .anticon {
    line-height: 25px;
  }
}
.ant-layout-sider-collapsed .ant-menu .anticon {
  font-size: 16px;
  margin-left: 8px;
}

.ant-layout-sider-collapsed .nav-text {
  display: none;
}

.ant-layout-sider-collapsed
  .ant-menu-submenu-vertical
  > .ant-menu-submenu-title:after {
  display: none;
}

.site-layout ul.layout-page-sider-menu.ant-menu-inline-collapsed {
  width: 65px;
  box-shadow: 1px 0 4px white;
  border-right: none;
  height: 100%;
  background-color: white;
}

.site-layout {
  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
    background-color: $primary-color-light;
    color: $primary-color;
    &::after{
      border-right-color: $primary-color;
    }
  }
  .ant-layout-sider {
    max-width: 300px !important;
    min-width: 300px !important;
    width: unset !important;
    background-color: white;
  }
  .ant-menu-inline-collapsed {
    > .ant-menu-item .anticon {
      line-height: 20px;
      height: 20px;
      width: 20px;
    }
  }
  ul.layout-page-sider-menu {
    box-shadow: 1px 0 4px white;
    border-right: none;
    background-color: white;
    height: 100%;
    padding-top: 20px;
    width: 300px;
    > li {
      padding: 0 24px;
      display: flex;
      align-items: center;
      > span {
        svg {
          font-size: 20px;
        }
        &:not(.anticon) {
          font-size: 16px;
        }
      }
      &.ant-menu-item-active {
        color: rgba(0, 0, 0, 0.65);
        background-color: $bg-site-layout;
      }
    }
  }
}

.side-event{
  .ant-menu-item{
    font-size: 16px;
    font-weight: 600;
    transition: background-color .3s;
  }
  &__info{
    display: flex;
    background-color: $bg-site-layout;
    width: 270px;
    margin: auto;
    height: 70px;
    border-radius: 20px;
    margin-bottom: 25px;
    &--avatar{
      width: 50px;
      margin: 10px 0 0 20px;
      border-radius: 50%;
    }
    &--text{
      margin-left: 20px;
      margin-top: 25px;
      padding: 0 ;
      h3{
        font-weight: 600;
        margin-bottom: 20px;
      }
      >span{
        font-size: $font-size;
        margin-top: 15px;
      }
    }
  }
}
