.ant-layout-logo {
  height: 32px;
  background: #333;
  border-radius: 6px;
  margin: 16px;
}

.sider-trigger {
  position: absolute;
  top: 15px;
  right: -25px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  color: #fff;
  background: #404040;
  border-radius: 0 4px 4px 0;
  cursor: pointer;

  .anticon {
    line-height: 25px;
  }
}

.ant-layout-sider-collapsed .ant-menu .anticon {
  font-size: 16px;
  margin-left: 8px;
}

.ant-layout-sider-collapsed .nav-text {
  display: none;
}

.ant-layout-sider-collapsed .ant-menu-submenu-vertical>.ant-menu-submenu-title:after {
  display: none;
}

.site-layout ul.layout-page-sider-menu.ant-menu-inline-collapsed {
  width: 65px;
  box-shadow: 1px 0 4px white;
  border-right: none;
  height: 100%;
  
  background-color: white;
}

.site-layout {
  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: $primary-color-light;
    color: $primary-color;

    &::after {
      border-right: 3px solid $primary-color;
    }
  }

  .ant-menu-inline .ant-menu-item::after {
    border-right: 3px solid $primary-color;
  }

  .ant-layout-sider {
    max-width: 300px !important;
    min-width: 300px !important;
    width: unset !important;
    background-color: white;
  }

  .ant-menu-inline-collapsed {
    >.ant-menu-item .anticon {
      line-height: 20px;
      height: 20px;
      width: 20px;
    }
  }

  ul.layout-page-sider-menu {
    box-shadow: 1px 0 4px white;
    border-right: none;
    background-color: white;
    height: 100%;
    padding-top: 20px;
    width: 300px;
    position: fixed;

    >li {
      padding: 0 24px;
      display: flex;
      align-items: center;

      >span {
        svg {
          font-size: 20px;
        }

        &:not(.anticon) {
          font-size: 16px;
        }
      }

      &.ant-menu-item-active {
        color: rgba(0, 0, 0, 0.65);
        background-color: $bg-site-layout;
      }
    }
  }
}

.layout {
  .site-layout {
    &__side-mess {
      max-width: 250px !important;
      min-width: 250px !important;
    }
    &__side-bg{
      max-width: 20% !important;
      min-width: 20% !important;
    }
  }
}

.side-event {
  width: 20%;
  position: fixed;
  .ant-menu-item {
    font-size: 16px;
    font-weight: 600;
    transition: .3s;
  }

  &__info {
    display: flex;
    background-color: $bg-site-layout;
    width: 270px;
    margin: auto;
    height: 70px;
    border-radius: 20px;
    margin-bottom: 25px;

    &--avatar {
      width: 50px;
      margin: 10px 0 0 20px;
      border-radius: 50%;
    }

    &--text {
      margin-left: 20px;
      margin-top: 25px;
      padding: 0;

      h3 {
        font-weight: 600;
        margin-bottom: 20px;
      }

      >span {
        font-size: $font-size;
        margin-top: 15px;
      }
    }
  }

  &__notify {
    max-height: 55vh;
    min-height: 45vh;
    background-color: white;
    border-radius: 8px;
    margin-top: 25px;
    box-shadow: $box-shadow-card;
  }

  &__top-dashboard{
    max-height: 50vh;
    min-height: 40vh;
    background-color: white;
    border-radius: 8px;
    margin-top: 25px;
    box-shadow: $box-shadow-card;
  }
}

.site-layout {
  &__side-bg {
    margin-right: 30px;
    background-color: transparent !important;
    ul.layout-page-sider-menu {
      background-color: transparent;
      box-shadow: unset;
    }
  }
}

@media(max-width: $width-pc){
  .layout {
    .site-layout {
      &__side-mess, &__side-bg{
        display: none;
      }
    }
  }
}

@media(max-width: $with-tablet){
  .layout {
    .site-layout {
      &__side-mess, &__side-left, &__side-bg{
        display: none;
      }
    }
  }
}