button {
  color: $white-color;
  padding: 8px 15px;
  border: none;
  outline: none;
  transition: background-color .3s;
  transition: border-color .3s;
  font-family: $font-family;
  cursor: pointer;
}

button.ant-btn {
  border-radius: 5px;
  color: $white-color;
  min-width: 130px;
  height: 40px;
  >span {
    font-size: 14px;
    font-weight: bold;
  }

  &:hover,
  &:focus {
    color: $white-color;
  }
}

.ant-btn {
    &.btn-primary {
    background: $primary-color;
    border-color: $primary-color;
    box-shadow: $box-shadow-btn;

    &:hover,
    &:focus {
      box-shadow: $box-shadow-hover;
      background: $primary-color-bold;
      border-color: $primary-color-bold;
    }
  }

  &.btn-outline-primary {
    color: $primary-color;
    border-color: $primary-color;

    &:hover,
    &:focus {
      color: $primary-color;
      background: $primary-color-light;
      border-color: $primary-color;
    }
  }

  &.btn-green {
    color: $white-color;
    border-color: $green-color;
    background-color: $green-color;

    &:hover,
    &:focus {
      border-color: $green-color-light;
      background-color: $green-color-light;
    }
  }
}