.form-new {
    &__account--wrapper{
        display: flex;
        align-items: center;
        .title{
            word-break: break-word;
            font-weight: bold;
            margin-bottom: 0;
            font-size: $font-size + 1;
        }
    }
    .avatar{
        margin-right: 8px;
    }
    &__input-wrapper {
        margin-top: 15px;
    }
    &__input-area{
        .ant-input-borderless.ant-input{
            resize: none;
            background-color: white;
            font-size: 18px;
        }
    }
    &__row{
        margin-bottom: 20px;
        margin-top: 8px;
        .ant-select{
            min-width: 50%;
        }
        .select-tag{
            width: 100%;
        }
        &.first-to-icon{
            margin-top: 40px;
        }
    }
    .button{
        margin-top: 35px;
    }
};

div.ant-modal-mask {
    background-color: #c1c1c1a3;
}
