.header {
  height: 64px;
  display: flex;
  &__user {
    width: 100%;
    padding: 0 20px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--logo.ant-typography {
      font-weight: 700;
      margin-bottom: 0;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
    &--profile {
      display: flex;
      align-items: center;
      span {
        font-size: 18px;
      }
      .profile {
        &__icon {
          &--message {
            margin-right: 15px;
            font-size: 20px;
            padding: 7px;
            background-color: $bg-site-light;
            border-radius: 50%;
            cursor: pointer;
            &:hover {
              opacity: 0.7;
            }
          }
          &--avatar {
            cursor: pointer;
          }
        }
        &__avatar {
          padding: 0;
          border: none;
          outline: none;
          border-radius: 100%;
        }
      }
    }
  }
  &__search-wrapper {
    margin-right: auto;
    margin-left: 12px;
    min-width: 150px;
    width: 350px;
    z-index: 10;
    .side-friends__search-mess {
      margin-top: 15px;
      span.ant-input-search {
        border-radius: 50px;
        width: 100%;
        > input {
          padding: 0 5px;
        }
      }
    }
  }
}

.list {
  &__profile {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
  }
  &__item {
    padding: 5px 0;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    &--icon {
      margin-right: 10px;
      font-size: 16px;
      font-weight: bold;
    }
  }
}

div.ant-popover-inner {
  border-radius: 5px;
}

@media (max-width: $with-mobile) {
  .header {
    &__user {
      padding: 0 12px;
    }
  }
}
