%wrapper {
  box-sizing: border-box;
  background-color: $white-color;
  border-radius: 5px;
}

body {
  font-size: $font-size + 1 !important;
  font-family: $font-family !important;
  color: $black-color !important;
}

h1 {
  font-size: $font-size * 2.441;
}

h2 {
  font-size: $font-size * 1.953;
}

h3 {
  font-size: $font-size * 1.563;
}

h4 {
  font-size: $font-size * 1.25;
}

h5 {
  font-size: $font-size;
}

h6 {
  font-size: $font-size * 0.8;
}

span {
  font-size: $font-size * 0.75;
}

a {
  text-decoration: none;
}

.layout {
  .ant-layout{
    background-color: #f7f7f8;
  }
  .layout__header {
    padding: 0;
    background-color: #fff;
    z-index: 9;
    border-bottom: solid 1px #ddd;
    width: 100%;
    position: fixed;
  }
  .site-layout {
    overflow: hidden;
  }
  &__side-bg{
    background-color: transparent !important;
    .layout-page-sider-menu{
      background-color: transparent !important;
    }
  }
}