.event-loading {
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  top: 0;
  bottom: 0;
  z-index: 99999;
  background-color: rgba(215, 224, 243, 0.5);
  > div {
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 40%;
    width: 400px;
  }
}

.authen-loading {
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  top: 0;
  bottom: 0;
  z-index: 99999;
  background-color: #fefefc;
  > img {
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 15%;
    width: 400px;
  }
}

.my-spin{
  .ant-spin-nested-loading{
    background-color: #fafafa;
  }
  .ant-spin-text{
    color: $black-color-light;
  }
  &--icon{
    &.anticon{
      color: $black-color-light;
    }
  }
}

.dot-loading {
  display: flex;
  justify-content: space-between;
  width: 40px;
  margin: 0 auto;
  .dot {
    height: 7px;
    width: 7px;
    display: inline-block;
    background: $primary-color;
    border-radius: 50px;
    animation: dot 0.5s linear infinite alternate;
    &:nth-of-type(1) {
      animation-delay: 0s;
    }
    &:nth-of-type(2) {
      animation-delay: 0.2s;
    }
    &:nth-of-type(3) {
      animation-delay: 0.4s;
    }
  }
}

.event-notify{
  &.ant-notification-notice {
    padding: 16px 14px;
    line-height: 1.5715;
    border-radius: 8px;
    width: unset;
  }
  .ant-notification-notice-content{
    max-width: 350px;
  }
  &__logo{
    width: 40px;
    margin-left: -5px;
  }
  .ant-notification-notice-close{
    background-color: $disabled-color-light;
    padding: 3px;
    border-radius: 50px;
    height: 20px;
    width: 20px;
    top: 15px;
    right: 13px;
  }
  .ant-notification-notice-message{
    color: $primary-color;
  }
}

.load-comment{
  &.load-list-user{
    padding-left: 12px;
    .ant-skeleton-avatar-circle{
      width: 36px;
      height: 36px;
    }
  }
};

@keyframes dot {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(5px);
  }
}

@media(max-width: 476px){
  .event-notify{
    &.ant-notification-notice {
      margin-right: -15px;
    }
  }
}
