.login {
  &__logo{
    margin: auto;
    margin-bottom: 35px;
    width: 100%;
    &::after{
      content: '';
      display: block;
      width: 100%;
      margin-top: 15px;
      height: 2px;
      background: $primary-color;
    }
    img.logo{
      width: 64px;
      margin-left: calc(50% - 32px);
    }
  }
  &__btn-submit{
    width: 100%;
  }
  &__label {
    float: right;
    font-size: $font-small;
    cursor: pointer;
    &:hover {
      color: $primary-color;
    }
  }
  .welcome__buttons{
    margin-top: 0px;
    button {
      margin-top: 10px;
    }
    &--loading{
      margin: 35px auto;
    }
  }
  &__form-select {
    text-align: center;
    margin-top: 25px;
    *{
      margin: 0 5px;
    }
    a{
      color: $primary-color;
      &:hover{
        color: $primary-color;
        opacity: 0.8;
      }
    }
  }
}


.welcome {
  &__col-height:first-child {
    height: 100vh;
    background-color: $primary-color;
  }

  &__col-height {
    position: relative;
  }
  &__select-wrapper{
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    min-width: 400px;
    >img {
      width: 64px;
      margin: 16px auto;
    }
  }
  &__note{
    >h3 {
      font-size: $font-heading-small;
      line-height: 32px;
      font-weight: 500;
      vertical-align: baseline;   
    }
    margin-bottom: 20px;
  }
  &__action{
    font-size: $font-title-large;
  }
  &__buttons{
    margin-top: 20px;
    .btn-link{
      margin-right: 15px;
    }
  }
}

@media(max-width: 1200px){
  .welcome {
    &__select-wrapper{
      min-width: 370px;
    }
  }
}

@media(max-width: 992px){
  .welcome {
    &__col-height:first-child {
      height: 40vh;
      background-color: $primary-color;
    }
    &__col-height:last-child {
      height: 60vh;
      &.register{
        min-height: 950px;
      }
    }
    &__select-wrapper{
      min-width: 350px;
    }
  }
}


@media(max-width: 768px){
  .welcome {
    &__select-wrapper{
      min-width: 310px;
    }
  }
}
