.not-found {
  width: 100%;
  position: relative;
  top: 80px;
  display: block;
  text-align: center;
  &--wrapper {
    &__img {
      width: 50%;
      margin: auto;
    }
  }
  &--footer {
    width: 100%;
    text-align: center;
    &--title {
      margin-top: 20px;
      font-size: 25px;
      font-weight: 700;
      color: $primary-color-bold;
    }
    &--description {
      margin-top: 15px;
      font-size: 16px;
      margin-bottom: 50px;
    }
    &--button {
      margin-top: 15px;
      background-color: $primary-color-bold;
      padding: 15px;
      font-weight: 700;
      font-size: $base-font-title;
      color: $white-color;
      border-radius: 30px;
      &__icon {
        font-size: $base-font-title;
      }
      &:hover {
        color: $white-color;
        background-color: $purple-color-bold;
      }
    }
  }
}