.ant-popover {
  position: fixed !important;
  .ant-popover-inner {
    border-radius: 8px;
    .ant-popover-inner-content {
      padding: 0;
    }
  }
}

.list__profile {
  padding: 8px;
}
.my-popover {
  &__mess-content {
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    &:hover {
      opacity: 0.8;
    }
  }
}

.popover-search {
  width: 600px;
  top: -25px !important;
  z-index: 9 !important;
  left: 0 !important;

  .ant-popover-arrow {
    display: none;
  }
  .ant-popover-inner {
    border-radius: 0;
    border-bottom-right-radius: 8px;
  }
  .side-friends__search-mess {
    display: flex;
    align-items: center;
    padding: 14px 12px 10px;
    margin-bottom: 0;
    span.anticon-arrow-left {
      font-size: 20px;
      cursor: pointer;
      color: $primary-color;
      &:hover {
        opacity: 0.7;
      }
    }
    .input {
      width: 100%;
      margin-left: 15px;
    }
  }
}

.search-wrapper {
  padding: 10px 12px;
  padding-bottom: 10px;
  &__title {
    font-weight: bold;
    font-size: $font-title-medium;
    .anticon {
      font-size: $font-title-medium;
      margin-right: 5px;
    }
  }
  &__list_history {
    font-size: $font-size + 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 8px 15px;
    color: $black-color;
    &:hover {
      background-color: $bg-site-layout;
      border-radius: 50px;
    }
    .anticon {
      font-size: $font-size + 1;
      margin-right: 6px;
      padding: 8px;
      border-radius: 50%;
      background-color: $bg-history-icon;
    }
  }
  &__list-user {
    .user-wrapper {
      .ant-avatar {
        margin-right: 6px;
      }
    }
  }
  &__list-subject {
    .subject-wrapper {
      padding: 5px;
    }
    .anticon-book {
      padding-left: 5px;
      font-size: $font-size + 1;
      margin-right: 6px;
      color: $primary-color;
    }
  }
  .search-item {
    align-items: center;
    cursor: pointer;
    &:hover {
      background-color: $bg-site-layout;
      border-radius: 50px;
    }
  }
  .anticon-user {
    color: $primary-color;
  }
  .ant-divider {
    margin: 12px 0;
  }
}

.search-top {
  max-height: calc(100vh - 100px);
  overflow: auto;
}

span.user-name,
span.subject-name {
  font-size: $font-size + 1;
  color: $black-color;
}

@media (max-width: $with-mobile) {
  .popover-search {
    width: 325px;
  }
}
