@import "./variable";
@import "./layout";
@import "__sidebarMenu";
@import "./field";
@import "./loading";
@import "./_login";
@import "./_form";
@import "./_modal";
@import "./_button";
@import "./_notFound";
@import "./_home";
/* Common style */

#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  padding: 25px;
  background: $bg-site-layout;
}
.site-layout-web-background {
  margin-top: 30px;
}

.ant-message {
  top: 5% !important;
}

.flex-group{
  display: flex;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-thumb {
  background: $primary-color; 
}

.avatar{
  cursor: pointer;
  &:hover{
    filter: grayscale(10%);
  }
}

span.anticon-picture{
  color: $green-color;
}

span.anticon-video-camera{
  color: $purple-color-bold;
}

span.anticon-edit{
  color: $primary-color;
}