@import "./variable";
@import "./layout";
@import "./header";
@import "./sidebarMenu";
@import "./field";
@import "./loading";
@import "./_login";
@import "./_form";
@import "./_modal";
@import "./_button";
@import "./_notFound";
@import "./_home";
@import "./_boxChat";
@import "./_popUp";
@import "./_smallComponent";
@import "./upload";
@import "~video-react/styles/scss/video-react";
/* Common style */

#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

html {
  scroll-behavior: smooth;
}

.site-layout .site-layout-background {
  padding: 25px;
  overflow-x: unset !important;
  min-height: 100vh;
  padding-top: 89px;
  background: $bg-site-layout;
}
.site-layout-web-background {
  margin-top: 30px;
}

.ant-message {
  top: 5% !important;
}

.flex-group {
  display: flex;
}

::-webkit-scrollbar {
  width: 5px;
}

:root {
  scrollbar-face-color: rgb(210, 210, 210);
  scrollbar-track-color: $primary-color;
  scrollbar-color: $primary-color transparent;
  scrollbar-width: thin;
}

::-webkit-scrollbar-thumb {
  background: $primary-color;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.avatar {
  cursor: pointer;
  &:hover {
    filter: grayscale(10%);
  }
}

.img-hover {
  cursor: pointer;
}

span.anticon-picture {
  color: $green-color;
}

span.anticon-video-camera {
  color: $purple-color-bold;
}

span.anticon-edit {
  color: $primary-color;
}

@media (max-width: $with-mobile) {
  .site-layout .site-layout-background {
    padding: 15px;
    padding-top: 100px;
  }
}

.SRLControls {
  > button {
    margin-right: 0;
  }
}

.SRLThumbnailsContainer {
  .SRLThumb {
    opacity: 0.8;
    border: solid 2px white;
    border-radius: 10px;
    margin: 0 3px;
    &.SRLThumbnailSelected {
      border: solid 2px $primary-color;
    }
  }
}
